{% extends "Web/base.html" %}

{% block body %}
<style media="screen">
  .no_bottom_margin{
    margin-bottom: 0px;
  }
</style>
<div class="">
  <h3>Contactez-nous</h3>
  <br>
  <b class="no_bottom_margin">Republique Democratique du Congo</b>
  <p class="no_bottom_margin">33. Bogage Q.Macampagne</p>
  <p class="no_bottom_margin">Ngaliema/Kinshasa</p>
  <p>+243 84 20 86 219 / +243 81 00 00 000</p>
  <p style="color: grey">-----------------------------------------------------------</p>
  <b class="no_bottom_margin">Royaume-Uni</b>
  <p class="no_bottom_margin">33. Bogage Q.Macampagne</p>
  <p class="no_bottom_margin">Ngaliema/Kinshasa</p>
  <p>+33 84 20 86 219 / +33 81 00 00 000</p>
  <p style="color: grey">-----------------------------------------------------------</p>
  <p>Envoyez-nous un courriel à l'adresse suivante <a href="mailto:hello@umbali.live" class="text-info">hello@umbali.live</a></p>
</div>

{% endblock body %}
